@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
body {
    
    background-color:antiquewhite;
}
h1 {
    text-align: center;
    font-family: 'Modern Antiqua', cursive;

}
p {
    color:rgb(60, 11, 105);
}
.parrafoUno {
    color:darkblue;
}
#pFooter {
    color:rgb(65, 60, 60);
    font-weight: bold;
}
#footer {
    background-color:rgb(241, 227, 98);
    text-align: center  ;
    border-style: dashed;
}
#header {
   
    border-style: solid;
    background-color:rgb(241, 227, 98);
    
}
#navBar {
    border-style: solid;

}
#navBar li{
    display:inline;

}